
<style type="text/css">
.btn-twitter { position: relative; padding-left: 40px;}
.btn-twitter:before {
  content: ' ';
  position: absolute;
  top: 10px;
  left: 10px;
  display: inline-block;
  margin-right: 10px;
  width: 24px;
  height: 24px;
  background-size: 24px;
  background-image: url(/static/plugins/signin-twitter/twitter.svg);
}

</style>
<a href="/signin/twitter" class="btn btn-twitter btn-large">
   Twitter
 </a>
